h1{
    font-family:'Bigshot One';font-size: 10px;
    font-size: 50px;
    color:black;
  }
 body{
     background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20220512/pngtree-vintage-green-background-with-stripe-pattern-image_1260145.jpg);
     background-size: cover;
 }